#TITULO{
    background-color:lightblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3cm;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
#Presentación{
    background-color:lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
#exp_Laboral{
    background-color:lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Conocimientos{
    background-color:lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
#inf_academica{
    background-color:lightblue;
}
#datos{
    background-color:lightblue;
}

body{
    background-color:lightslategray;
}